*.env
.env 
.env.*
/.vscode 
/node_modules
./dist
*.data.json
*.json
node_modules/
coverage/
dist/
build/
.next/
.out/
.nuxt/
**/*.min.js
**/*.min.css
**/*.min.json
**/*.min.html
**/*.swc
**/*.d.ts
**/*.d.ts.map
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/pnpm-lock.yml
**/node_modules
**/dist
**/build
**/coverage